#routeDetails {
    position: relative;
    margin-top: 15vh;
    color: #001c35;
}
.star {
    color: #ff9933;
    font-size: 3.5vh;
    cursor: pointer;
}
.imgRouteFigure{
    overflow: hidden;
}
.imgRoute{
    /*max-width: 600px;*/
    width: 100%;
}