#routeDetails {
    position: relative;
    margin-top: 15vh;
    color: #001c35;
}
.star {
    color: #ff9933;
    font-size: 3.5vh;
    cursor: pointer;
}
.imgRouteFigure{
    overflow: hidden;
}
.imgRoute{
    /*max-width: 600px;*/
    width: 100%;
}
#addToChart {
    background: #856849;
    border: #856849;
}
#addToChart:hover{
    background: #856849;
    box-shadow: 3px 3px 3px #856849;
    transform: scale(1.1);
    transition: .3s;
}