#footer {
    background: #001c35;
    color: #aaa;
    font-family: Tahoma, Verdana, sans-serif;
}
.h_line {
    background: linear-gradient(.25turn,#f3d6d5, #66615b, #aaa);
    height:5px;
}
#footerMenu a {
    color: #aaa;
}

.footer-copyright a {
    color: #aaa;
}
.footer-copyright a:hover, #footerMenu a:hover {
    color: #856849;
}
#social-media a {
    font-size: large;
    color: #aaa;
}
#social-media a:hover {
    font-size: large;
    color: #856849;
}