#homePageHorizontalLine{
    background: linear-gradient(.25turn,#001c35, #aaa, #001c35);
    height:3px;
}
.coverDiv{
    width:100%;
    display: flex;
    justify-content: center;
}
.animationDiv{
    position: absolute;
    top:13vw;
    font-size: 4vw;
    font-weight: 100;
    color: #aaa;
    margin: 0 auto;
    letter-spacing: 4px;

}
.secondAnimationDiv{
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    color: #aaa;
    animation: slidein 1s ;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}


#readMore{
    margin-top: 3vw;
    border-radius: 0 0 6px 6px;
    background: rgba(133, 104, 73, 0.33);
    color: #aaa;
    box-shadow: 3px 3px 3px #001c35;
    transform: scale(1.1);
    text-decoration: none;
}
#readMore:hover{
    background: rgba(133, 104, 73, 0.78);
    box-shadow: 3px 3px 3px #001c35;
    transform: scale(1.1);
    animation: pulse 1s infinite;
    transition: .3s;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

#coverImageHomePage{
    background-size: cover;
}

#seeMoreButton{
    border-radius: 0 0 6px 6px;
    background: rgba(133, 104, 73, 0.78);
    color: #aaa;
    box-shadow: 3px 3px 3px #001c35;
    transform: scale(1.1);
    text-decoration: none;
}
#seeMoreButton:hover{
    border-radius: 0 0 6px 6px;
    background: #856849;
    box-shadow: 3px 3px 3px #001c35;
    transform: scale(1.1);
    animation: pulse 1s infinite;
    transition: .3s;
}
#titleHome {
    color: #001c35;
}