#homePageHorizontalLine{
    background: linear-gradient(.25turn,#f3d6d5, #001c35, white);
    height:3px;
}
.animationDiv{
    position: absolute;
    top:12vw;
    font-size: 4vw;
    font-weight: 100;
    color: #f3d6d5;
    margin: 0 auto;
    letter-spacing: 4px;
}
.secondAnimationDiv{
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    color: #f3d6d5;
    font-style: italic;
}
#readMore{
    border-radius: 0 0 6px 6px;
    background: #66615b;
    color: white;
    box-shadow: 3px 3px 3px #001c35;
    transform: scale(1.1);
    text-decoration: none;
}
#readMore:hover{
    background: linear-gradient(to bottom, #001c35, #66615b);
    box-shadow: 3px 3px 3px #001c35;
    transform: scale(1.1);
}
.banner {
    top: -45px;
    position: relative;
}

.banner .label {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -38px;
    right: 0;
    text-transform: uppercase;
}


.banner .label .title {
    font-size: 30px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.banner .label .price span {
    display: block;
    font-size: 24px;
    padding-top: 3px;
}

.banner a {
    font-size: 14px;
    line-height: 20px;
    color: #c73430;
    text-transform: uppercase;
    display: inline-block;
    background-color: #e5e5e5;
    padding: 5px 18px 4px;
    margin-top: 25px;
    border-radius: 13px;
}

.banner a:hover {
    background-color: #c73430;
    color: #fff;
}

.divTextAnimation {
    white-space:nowrap;
}
.divTextAnimation:first-of-type {
    animation: showup 9s ;
}
.divTextAnimation:last-of-type span {
    padding: 0 5px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    animation: slidein 5s ;
}
.coverDiv{
    width:100%;
    display: flex;
    justify-content: center;
}
#coverImageHomePage{
    background-size: cover;
}
#smallBanner{
    box-shadow: 0 0 20px gainsboro;
}
#smallBanner>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes showup {
    0% {opacity:0; }
    20% {opacity:1; }
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; opacity:0; }
    20% { margin-left:-800px; opacity:0;}
    35% { margin-left:35px; opacity: 0.7; }
    100% { margin-left:35px; opacity: 1; background-color: rgba(255,255,255,0.8); border-radius: 20px; padding: 0 0;}
}

@keyframes reveal {
    0% {opacity:0;width:0;}
    20% {opacity:1;width:0;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:1;width:355px;}
}
