#header {
    position: absolute;
    display: flex;
    top: 0;
    z-index: 1;
    font-family: "Tahoma",PT Sans Narrow, sans-serif;
    text-transform: uppercase;
    justify-content: center;
    min-width: 100%;
    background-image: url("../../assets/img/headerImg.jpg");
    background-repeat: no-repeat;
}

.menu-column{
    width:100%;
    display: flex;
    justify-content: center;
}
.menu {
    height: fit-content;
    display: inline-flex;
}
.menu>ul>li>a{
    color: #f3d6d5;
}
li {
    list-style: none;
    position: relative;
    cursor: pointer;
}

.menu>li>a{
    color:  #aaa;
}
.menu>li:hover>a{
    color: white;
}
.menu>li>a:visited{
    color: #aaaaaa;
}
.menu>li:hover, .menu>li>ul>li:hover, #logoutD>li:hover, #logoutD>li>ul>div>ul>li:hover, #logoutD>li>ul>li:hover {
    color:white;
    border-radius: 0 0 6px 6px;
    /*background: linear-gradient(to bottom, #001c35, #aaa);*/
    /*box-shadow: 3px 3px 3px #001c35;*/
    transform: scale(1.1);
    box-shadow: 1px 1px 1px #856849;
}
.CssLogin{
    float: right;
    color: #aaa;
    transition: 0.3s;
    display: inline-block;
}
.CssLogin1{
    float: right;
    color: #aaa;
    display: inline-block;
}
.CssLogin1 a {
    color: #aaa;
}
.CssLogin1:hover a {
    color: white;
    transform: scale(1.1);
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 1px 1px #856849;
}

.drop-down>ul {
    display: block;
    position: absolute;
    top: calc(100% + 40px);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    padding: 8px 3px;
    width: 100%;
    background: #001c35;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 3px #001c35;
    transition: 0.3s;
    list-style: none;
    font-size: small;
}
.drop-down:hover>a{
    color: white;
}
.drop-down:hover > ul {
    opacity: 1;
    top: 80%;
    visibility: visible;
}
.drop-down li {
    position: relative;
}
.drop-down>ul>li>a {
    color: #aaa;
}
.drop-down:hover > ul>li:hover>a{
    color: white;
    text-decoration: none;
}

.logging_buttons{
    color: #aaa;
}
.logging_buttons:hover{
    color: white;
    text-decoration: none;
}

#logoutDropdown>a{
    color: #aaa;
    font-size: small;
}
#logoutDropdown:hover a{
    transform: none;
    transition: none;
}

#logoutDropdown>ul>div>ul>li>a{
    color: #aaa;
}
#logoutDropdown>ul>div>ul>li>a:hover{
    text-decoration: none;
    color: white;
}

.menu_dropdown{
    width:100%;
    margin-top: 5px;
    cursor:pointer;
    color: #001c35;
}
.title{
    width:25%;
    box-sizing:border-box;
    background:#aaa;
    padding:5px;
    border-radius: 0 0 5px 5px;
    position:relative;
    box-shadow:3px 3px 3px #001c35;
    color:#001c35
}

.dropdown_mobile{
    width:120%;
    background:#001c35;
    border-radius: 0 0 2px 2px;
    box-shadow:3px 3px 3px #001c35;
    color:#aaa;
    margin-top:25px;
    max-height:0;
    overflow:hidden;
    transition:all .5s}
.down{
    max-height:700px;
}
a:hover{
    color: white;
    text-decoration: none;
}
.dropdown_mobile>a{
    color: #aaa;
}
.dropdown_mobile>div>a{
    color: #aaa;
}

#wider_row{
    position: absolute;
    top:0;
    z-index: 5;
}
#smaller_row{
    position: absolute;
    top:0;
}
#logo1{
    margin: 0 auto;
}