.body{
  color: #001c35;
  font-family: "Tahoma",PT Sans Narrow, sans-serif;
  text-align: center;
}
.horizontal_line{
  background: linear-gradient(.25turn,#aaa, black, #001c35);
  height:3px;
}
.topDiv{
  position: relative;
  top: 2.5vh;
}